<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="http://192.168.1.1"/>
<parameter name="browserType" value="chrome"/>
  <test name="sample test">
    <classes>
<!--       <class name="com.pack.common.tests.HomePageTest"/> -->
      <class name="pageobject.test.BasePageTest"/>
<!--       <class name="com.pack.common.tests.CreateAnAccounTest"/> -->
    </classes>
  </test>
</suite>